/* styles.css */
.container-contact {
    margin: 0 auto;
    max-width: 80%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Esto alinea el formulario al centro horizontalmente */
    margin: 2em 0;
}

.contact-form .input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Esto alinea los elementos del formulario a la izquierda */
}

.input-container {
    width: 50%;
}


.contact-form input,
.contact-form textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
    margin: 1em 0;
    padding: 0.5em;
    font-size: 1em;
}

.contact-form button {
    width: 100%;
    background-color: #ffc51d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}