.container-top-index {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-index {
    flex: 1;
    padding-top: 7em;
}

.image-index {
    align-items: right;
    padding-top: 7em;
    padding-right: 15em;
}

.title-index p {
    font-size: 5em;
    font-weight: bold;
    padding-left: 2em;
    margin: 0;
}

.top-text-index {
    color: #FFC51D;
    text-shadow: 0 0 10px rgba(255, 199, 29, 0.5);

}

.bottom-text-index {
    color: #BD34FF;
    text-shadow: 0 0 10px rgba(187, 51, 255, 0.5);
}

.container-bottom-index {
    padding-left: 5em;
    margin-bottom: 2em;
    font-size: 2em;
    max-width: 80%;
    text-align: justify;
}