/* index.html */
* {
  cursor: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: #FFC51D;
}

::-moz-selection {
  background: #FFC51D;
}

footer {
  display: flex;
  justify-content: right;
  background-color: #333333;
  padding: 1em;
  font-size: 1em;
  margin-top: auto;
  width: 80%;
  margin: 0 auto;
}

/* disposiitvos moviles */
@media (max-width: 600px) {
  footer {
    width: 100%;
  }
}

.container {
  display: flex;
  justify-content: space-between;
}

.align-right p {
  margin-left: 1em;
  transition: font-weight 0.5s;
}

.align-right p:hover {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.social-icons a img {
  width: 25px;
  transition: brightness 0.5s;
  margin-top: 5px;
}

.github-icon:hover {
  transform: scale(1.1);
}